*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: auto;
    width: 100vw;
    overflow-x: none;
    background-color: white;
}
.navcontainer{

    width: vw;
    /* border: 2px solid black; */
    height: 4rem;
    padding: .4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.c1{
    width : 3rem;
    height: auto;
    /* padding: .5rem; */
    /* border: 2px solid black; */
}
.c2{
    width : 46rem;
    height: 4rem;
    padding: 5px;
    /* border: 2px solid black; */
    display: flex;
    /* background-color: rgb(215, 212, 212); */
    
    justify-content: space-evenly;
    align-items: center; 

}
.c3{
    width : 12.5rem;
    height: auto;
    /* padding: .5rem; */
    /* margin-right: 1rem; */
    /* border: 2px solid black; */
    /* padding-right: 2rem; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;


}
.c3 img{

    mix-blend-mode: multiply;
    width: 2rem;
}
.c1 {

    width: 13rem;
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.c1 img{
    width: 8rem;
    mix-blend-mode: multiply;
}
.icon{

    width: 1rem;
    scale: .25;
    mix-blend-mode: multiply;

}
.icon1{
    scale: 1.5;
}
.search{
    /* scale: .1; */
    width: 30rem;
}

.searchbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    width: 40rem;
    margin: 10px;
    /* padding: 10px; */
    border-radius: 1.5rem;
    border: 1px solid black;
    overflow: hidden;
    
}
.button{
    width: auto;
    height: 4rem;
    /* margin-left: 6rem; */
    align-items: center;
    /* background-color: lightgray; */


}
#b1{
    mix-blend-mode: multiply;
    width: 3.8rem;
    height: 3.9rem;
    /* border-style: none;
    outline: none; */

    scale: .9;

}
#s1{
    height: 4rem;
    width: 40rem;
    font-size: 1rem;
    padding-left: 1rem;
    border-style: none;
    outline: none;
}
#m1{
    width: 2.4rem;
    height: 2.3rem;
    align-items: center;
    /* border-radius: 5rem; */
    /* background-color: rgb(215, 212, 212); */
    /* padding: 2px; */
    scale: .4;
    /* padding: 10px; */
    
}
#b2{
    /* border-style: none; 
    outline: none;
     */
     height: 2.25rem;
     width: 2.25rem;
     border: none;
     outline: none;
}
#b2:focus{

    outline: 0;

}
.mic_icon{
    background-color: rgba(228, 228, 228, 0.785);
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    outline: none;
    border-radius: 2rem;
    align-items: center;
    /* padding: 9px; */
    overflow: hidden;
    /* border: 2px solid black; */
    
}